/*
 *  CSS voor sf-vino
 */

/* * * * * ALGEMEEN * * * * */

body {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

h1, h2, h3, h4, .jumbotron, dt {
    font-family: 'PT Sans Narrow', Helvetica, sans-serif;
    /* bootstrap overrides */
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}

.jumbotron {
    padding: 10px 30px 20px;
    border: 1px solid grey;
    border-radius: 4px;
    color: whitesmoke;
    background-color: darkslategray;
}

p {
    margin: 5px 0;
}
/* * * * * WRAPPER * * * * */

#wrapper {
    box-sizing: border-box;
    width: 90vw;
    margin: 0 auto;
    padding: 1em;
}

/* * * * * NAVBAR * * * * */

.navbar {
    margin: 0;   /* bootstrap override */
    background-color: #ffecec;
}

#JS_menuLogin {
    display: none;
}

.dropdown-menu {
    left: auto;
    right: 0;
}

/* * * * * HEADER * * * * */

header {
    background-color: #500;
    margin: 0;
    margin-top: 51px;
    position: relative;
    /*top: 49px;*/
    background-image: url('../img/header-back.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
    border-top: 1px solid #500;
    border-bottom: 1px solid #500;
}

header.vino-header {
    height: 400px;
}

header.bar-header {
    height: 80px;
}

div.collector-border {
    margin: 0px;
    padding: 5px;
    background-color: white;
    width: 500px;
    position: relative;
    top: 150px;
    left: 100px;
    opacity: 0.9;
}

div.title-collector {
    background-color: white;
    margin: 0px;
    padding: 10px;
    border: 1px solid #500;
    box-sizing: border-box;
    text-align: center;
}

div.title-collector h1 {
    line-height: 1em;
    font-size: 4em;
    letter-spacing: 0.05em;
    margin: 0;
    padding: 10px;
    color: #500;
}

div.title-collector h2 {
    line-height: 1em;
    font-size: 1.75em;
    letter-spacing: 0.15em;
    padding: 10px;
    margin: 0;
    color: #a55;
}

div.title-collector hr {
    background-color: #500;
    color: #500;
    height: 1px;
    margin: 20px auto;
    padding: 0;
    width: 80%;
}

/* * * * * DIV MAINBODY * * * * */

div#mainbody {
    margin: 0;
    padding: 15px;
}

/* * * * * PRODUCTDETAIL * * * * */

.product-row {
    box-sizing: border-box;
    margin: 0;
    border-radius: 20px;
    box-shadow: #500 1px 1px 15px;
    padding: 10px;
    margin-bottom: 20px;
    overflow: auto;
}

.product-image {
    box-sizing: border-box;
    text-align: center;
    border-radius: 20px;
    /*box-shadow: #500 1px 1px 15px;*/
    margin: 20px 0;
}

.product-text {
    box-sizing: border-box;
    padding: 0;
}

.product-text dl dt {
    /*width: 150px;*/
}

.product-text dl dd {
    /*margin-left: 130px;*/
    margin-bottom: 10px;
    padding-right: 20px;
}

.product-price {
    padding: 0 0;
    font-weight: bold;
    text-align: center;
    background-color: #a55;
    border-radius: 20px;
    color: whitesmoke;
}

.product-price p {
    padding: 20px;
    font-size: 2em;
}

.product-price p span {
    font-size: 1.75em;
}

.product-price a.btn {
    font-size: 2.5em;
    width: 100%;
    border-radius: 0 0 20px 20px;
}

/* * * * * BESTELLING * * * * */

.productlijst {
    width: 100%;
    border: 1px solid #500;
}

.productlijst tbody tr td {
    padding: 3px 10px;
}

.productlijst-bestellijn td:nth-child(1), .productlijst-productlijn-info-sub td:nth-child(1) {
    text-align: right;
    width: 8%;
}

.productlijst-bestellijn td:nth-child(2), .productlijst-productlijn-info-sub td:nth-child(2) {
    text-align: left;
    width: 62%;
}

.productlijst-bestellijn td:nth-child(3), .productlijst-productlijn-info-sub td:nth-child(3) {
    text-align: center;
    width: 8%;
}

.productlijst-bestellijn td:nth-child(4), .productlijst-productlijn-info-sub td:nth-child(4) {
    text-align: right;
    width: 11%;
}

.productlijst-bestellijn td:nth-child(5), .productlijst-productlijn-info-sub td:nth-child(5) {
    text-align: right;
    width: 11%;
}

.productlijst-productlijn-info-top,
.productlijst-verzending-info-top,
.productlijst-bestelling-subtotaal {
    font-weight: bold;
    background-color: #a55;
    color: white;
}

.productlijst-verpakkinglijn-info-top {
    background-color: #efdcdc;
}

.productlijst-productlijn-info-sub, .productlijst-verpakkinglijn-info-sub {
    background-color: #ffecec;
}

.productlijst-verpakkinglijn-info-sub td:nth-child(1), .productlijst-verpakkinglijn-item td:nth-child(1) {
    text-align: right;
}

.productlijst-verpakkinglijn-info-sub td:nth-child(3), .productlijst-verpakkinglijn-item td:nth-child(3) {
    text-align: right;
}

.productlijst-verpakkinglijn-info-sub td:nth-child(4), .productlijst-verpakkinglijn-item td:nth-child(4) {
    text-align: right;
}

.productlijst-verzending-keuze td:nth-child(3) {
    text-align: right;
}

.productlijst-bestelling-subtotaal td:last-child {
    text-align: right;
}
.productlijst .btn {
    padding: 2px 5px;
}

.productlijst-top-1 {
    font-weight: bold;
    background-color: #a55;
    color: white;
}

.productlijst-top-2 {
    background-color: #efdcdc;
}

.productlijst-sub {
    background-color: #ffecec;
}

.productlijst-bedrag {
    text-align: right;
}

.productlijst-10pc {
    width: 10%;
}

.productlijst-acties {
    text-align: center;
    width: 15%;
    min-width: 140px;
}