{# empty Twig template #}

{% extends '::base.html.twig' %}

{% block body %}
    <h1>Test</h1>
    <p>De naam: {{ denaam|raw }}</p>
    <p>Het jaar: {{ hetjaar|raw }}</p>
    <p>De gemaakte slug: {{ deslug|raw }}</p>
{% endblock %}